@use "../abstracts";

.favorite-item {
  display: flex;
  align-items: center;
  column-gap: 20px;

  &:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--favorite-item-bg);

    @include abstracts.screen(sm) {
      padding-bottom: 16px;
    }
  }

  & + & {
    margin-top: 20px;

    @include abstracts.screen(sm) {
      margin-top: 16px;
    }
  }

  &__thumb {
    width: 151px;
    height: 108px;
    object-fit: contain;

    @include abstracts.screen(lg) {
      width: 110px;
      height: 78.675px;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.46667;
  }

  &__content {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px 20px;

    @include abstracts.screen(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__price {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.45455;

    @include abstracts.screen(sm) {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.44444;
    }
  }

  &__btn {
    max-width: 126px;
    height: 42px;
    font-size: 1.5rem;
  }
}
