<div class="container">
  <div class="footer__row">
    <!-- Column 1 -->
    <div class="footer-column">
      <h2 class="footer-column__title">ABOUT US</h2>
      <ul class="footer-column__list">
        <li>
          <a href="#!" class="footer-column__link">Our Story</a>
        </li>
        <li>
          <a href="#!" class="footer-column__link">Affiliate Program</a>
        </li>
        <li>
          <a href="#!" class="footer-column__link">Wholesale Program</a>
        </li>
        <li>
          <a href="#!" class="footer-column__link">Press Inquiries</a>
        </li>
        <li>
          <a href="#!" class="footer-column__link">Careers</a>
        </li>
      </ul>
    </div>

    <!-- Column 2 -->
    <div class="footer-column">
      <h2 class="footer-column__title">SUPPORT</h2>
      <ul class="footer-column__list">
        <li>
          <a href="#!" class="footer-column__link">Returns & Exchanges</a>
        </li>
        <li>
          <a href="#!" class="footer-column__link">Shipping Information</a>
        </li>
        <li>
          <a href="#!" class="footer-column__link">Track Your Order</a>
        </li>
        <li>
          <a href="#!" class="footer-column__link">Promo Code Lookup</a>
        </li>
        <li>
          <a href="#!" class="footer-column__link">Gift Card Lookup</a>
        </li>
      </ul>
    </div>

    <!-- Column 3 -->
    <div class="footer-column">
      <ul class="footer-column__list footer-column__list--single">
        <li>
          <a href="#!" class="footer-column__link">Earn Rewards</a>
        </li>
        <li>
          <a href="#!" class="footer-column__link">Payment Plans</a>
        </li>
        <li>
          <a href="#!" class="footer-column__link">Retail Store Locator</a>
        </li>
        <li>
          <a href="#!" class="footer-column__link">Help Center</a>
        </li>
        <li>
          <a href="#!" class="footer-column__link">Contact Us</a>
        </li>
      </ul>
    </div>

    <!-- Column 4 -->
    <div class="footer-column">
      <h2 class="footer__title">CONNECT WITH US</h2>
      <div class="footer__social-wrap">
        <a href="#!">
          <img
            src="./assets/icon/facebook-f-brands.svg"
            alt=""
            class="footer__social icon"
          />
        </a>
        <a href="#!">
          <img
            src="./assets/icon/instagram-brands.svg"
            alt=""
            class="footer__social icon"
          />
        </a>
        <a href="#!">
          <img
            src="./assets/icon/twitter-brands.svg"
            alt=""
            class="footer__social icon"
          />
        </a>
      </div>
      <p class="footer__desc">
        Want $20 Off? Sign up for our Newsletter.<br />Sign up for SMS alerts
        and be the first to know
      </p>
      <button class="footer__btn">
        <img
          src="./assets/icon/mail.svg"
          alt=""
          class="footer__btn-icon icon"
        />
        Get in the loop!
      </button>
    </div>
  </div>

  <div class="footer__row">
    <p class="footer__copy-right">Copyright 2020.com, All rights reserved.</p>
  </div>
</div>
